aside hr {
  margin: 0;
  border: none;
  border-bottom: 2px solid #D2D2D2; }

aside header h1 {
  font-size: 24px;
  padding: 30px;
  margin: 0;
  color: #333; }

* {
  margin: 0;
  padding: 0; }

aside {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  border-right: 3px solid #D2D2D2; }
  @media (min-width: 499.9px) and (max-width: 799.9px) {
    aside {
      width: 200px;
      height: auto;
      position: static;
      display: inline-block;
      background: none;
      border: none; } }
  aside header {
    margin: 0; }
    @media (min-width: 499.9px) and (max-width: 799.9px) {
      aside header {
        display: none; } }
    @media (min-width: 499.9px) and (max-width: 799.9px) {
      aside header h1 {
        display: none; } }
  @media (min-width: 499.9px) and (max-width: 799.9px) {
    aside hr {
      display: none; } }
  aside menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 15px; }
    aside menu div[name="menu"] {
      display: none;
      background-image: url(../img/bars-solid.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 24px;
      height: 24px; }
      @media (min-width: 499.9px) and (max-width: 799.9px) {
        aside menu div[name="menu"] {
          display: block; } }
    aside menu:hover ul {
      display: block; }
    aside menu ul {
      list-style-type: none;
      width: 100%; }
      @media (min-width: 499.9px) and (max-width: 799.9px) {
        aside menu ul {
          display: none; } }
      aside menu ul li {
        width: 100%; }
        aside menu ul li a {
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          padding: 10px;
          padding-left: 50px;
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: 15px 50%;
          color: #858585;
          text-decoration: none; }
          aside menu ul li a[name="dashboard"] {
            background-image: url(../img/dashboard_gray.svg); }
          aside menu ul li a[name="user_profile"] {
            background-image: url(../img/account_gray.svg); }
          aside menu ul li a[name="maps"] {
            background-image: url(../img/map_gray.svg); }
          aside menu ul li a[name="notifycation"] {
            background-image: url(../img/notify_gray.svg); }
          aside menu ul li a[name="support"] {
            background-image: url(../img/support_gray.svg); }
          aside menu ul li a.active, aside menu ul li a:hover {
            background-color: #C32056;
            color: #fff;
            -webkit-box-shadow: 0 2px 3px 2px #bbb;
            box-shadow: 0 2px 3px 2px #bbb; }
          aside menu ul li a[name="dashboard"].active, aside menu ul li a[name="dashboard"]:hover {
            background-image: url(../img/dashboard_white.svg); }
          aside menu ul li a[name="user_profile"].active, aside menu ul li a[name="user_profile"]:hover {
            background-image: url(../img/account_white.svg); }
          aside menu ul li a[name="maps"].active, aside menu ul li a[name="maps"]:hover {
            background-image: url(../img/map_white.png); }
          aside menu ul li a[name="notifycation"].active, aside menu ul li a[name="notifycation"]:hover {
            background-image: url(../img/notify_white.png); }
          aside menu ul li a[name="support"].active, aside menu ul li a[name="support"]:hover {
            background-image: url(../img/support_white.png); }
